<div class="container">
    <div class="row">
        <div class="col-md-12">
            <input type="text"
            [(ngModel)]="heroSearch">
            <button class="btn btn-success"
            (click)="onSearch(heroSearch)">Search</button>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ul class="list-group">
                <a href="#"
                class="list-group-item"
                *ngFor="let hero of heroes">
                {{ hero.name }}</a>
            </ul>
        </div>
    </div>
</div>



