<div class="container">
    <div class="row">
        <div class="col-md-12"
        id="inputBoxandButton">
            <input type="text"
            [(ngModel)]="heroSearch">
            <button class="btn btn-success"
            (click)="onSearch(heroSearch)">Search</button>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ul class="list-group"
            *ngIf="heroesFound; else heroNotFound">
                <a href="#"
                class="list-group-item"
                *ngFor="let hero of heroes">
                Name: {{hero.name}}
                <img src="{{hero.image.url}}"alt="hero"class="img-responsive"><br>
                Full Name: {{hero.biography["full-name"]}}<br>
                Intelligence: {{hero.powerstats.intelligence}}<br>
                Strength: {{hero.powerstats.strength}}<br>
                Speed: {{hero.powerstats.speed}}<br>
                Durability: {{hero.powerstats.durability}}<br>
                Power: {{hero.powerstats.power}}<br>
                </a>
                <ng-template #heroNotFound>Hero Not Found</ng-template>
            </ul>
        </div>
    </div>
</div>



